# Sensitive credentials
gcp-identity.json
*.pem
*.key
*.crt
.env

# Terraform
terraform-gcp-vm/.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# Logs
*.log

# Editor / IDE
.vscode/
.idea/
*.swp

# OS noise
.DS_Store
Thumbs.db

# Dependency directories
node_modules/

# Docker artifacts
*.tar

# Misc
